Repository google/dwh-migration-tools, pull requests merged in 2022-06, with the labels that each got.

#24 Add SQL Server Dialect to the python client
  client/batch_sql_translator.py
  client/config.yaml
  client/config_parser.py
Labels: enhancement

#22 Write a proper README file, add contribution instructions for dumper
  README.md
  client/CONTRIBUTING.md
  dumper/CONTRIBUTING.md
Labels: documentation

#42 Encode properties in JDBC URL for Redshift.
  dumper/app/src/main/java/com/google/edwmigration/dumper/application/dumper/connector/redshift/JdbcPropBuilder.java
Labels: bug
